* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.navbar-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  position: relative;
}

.navbar-area .logo img {
  height: 50px;
}

.navbar-area .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
}

.navbar-area .nav-list a {
  color: #000;
  padding: 0.8rem 2rem;
  margin: 0 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: 1px solid #ccc;
  letter-spacing: 1.5px;
}

.navbar-area .nav-list .active {
  color: #fff;
  background: #333;
}

.navbar-area .nav-list .active:hover {
  color: #000;
  background: #fff;
}

.navbar-area .nav-list a:hover {
  color: #fff;
  background: #333;
}

.navbar-area .nav-menu {
  font-size: 1.4rem;
  text-align: center;
}

.navbar-area .nav-menu i {
  font-size: 1.6rem;
}

.separator {
  padding: 0.9rem;
  background: #333333;
}

.sidebar {
  background: #914a9c;
  padding: 1.5rem 0.677rem;
  margin-left: -12px;
}

.sidebar ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
}

.sidebar ul li {
  padding: 0.8999rem 0.5rem;
  font-size: 0.955rem;
}

.sidebar ul li i {
  padding-right: 0.544rem;
}

.sidebar ul li:hover,
.sidebar-active {
  background: whitesmoke;
  color: #333333;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.section {
  width: 100%;
}

.section-1 {
  position: relative;
}

.search-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 2rem;
  position: relative;
}

.has-search input {
  border-radius: 20px;
  border: 1px solid #ffbb00;
  padding: 0.5rem;
  padding-left: 2.375rem;
  width: 100%;
}

.has-search input:hover {
  border-radius: 20px;
}

.has-search input:focus {
  outline-style: none;
}

/* FFBB00 */

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.search-area i {
  display: inline;
}

.filters {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 240px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: whitesmoke;
  position: absolute;
  top: 40px;
  right: 100px;
  z-index: 1000;
}

.filters-header {
  background-color: #333;
  width: 100%;
  color: whitesmoke;
  text-align: left;
  padding: 5px 0 5px 40px;
  font-size: 4rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.filters-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.filters-body select {
  padding: 0.6777rem;
  margin: 1rem;
  border-radius: 10px;
  width: 100%;
}

.card-body {
  position: relative;
}

.inbox-container {
  max-height: 500px;
  overflow-y: scroll;
}

.inbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e8f5f9;
  border-radius: 8px;
  position: relative;
  margin-bottom: 20px;
}

.active-inbox {
  border: 1px solid #ffbb00;
}

.read {
  background: #f9f8f8;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

/* CE9198 */

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.677rem;
}

.info-name {
  font-size: 0.7rem;
  font-weight: 600;
  color: #3b3b3b;
}

.info-username {
  color: #c4c4c4;
  font-size: 0.7rem;
}

.inbox-overview {
  padding: 0.444rem;
}

.inbox-overview .chat-id {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  margin-top: -7px;
  margin-right: -8.1px;
}

.inbox-overview .chat-id span {
  background-color: #efebeb;
  font-size: 12px;
  padding: 0 12px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
}

.inbox-overview h4 {
  font-size: 0.999rem;
  font-weight: bolder;
  padding-top: 25px;
  color: #4b4747;
}

.inbox-overview p {
  font-size: 0.778rem;
  font-weight: 500;
  color: #5b5b5b;
  margin: 0;
  padding: 0;
}

.inbox-overview .time {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #279f2c;
  font-size: 0.755rem;
}

.message-count {
  position: absolute;
  bottom: -12px;
  right: -10px;
}

.message-count span {
  background-color: #279f2c;
  border-radius: 40%;
  padding: 0.47799rem;
  font-size: 0.678rem;
  color: #fff;
}

.start-conversation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1.5rem;
}

.btn {
  padding: 0.61rem 1.1rem;
  color: #f1f1f1;
}

.chat-box {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  position: relative;
}

.chat-box-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e8f5f9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}

.message-title h4 {
  font-size: 1rem;
  font-weight: 800;
  padding-top: 25px;
  color: #4b4747;
}

.info-btn button {
  color: #fff;
  font-size: 0.78rem;
  font-weight: 900;
  background-color: #6b6565;
}

.info-btn button i {
  color: #ffbb00;
  margin-right: 6px;
}

.chat-box-header .user-info {
  margin-top: -50px;
}

.chat-id-2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.chat-id-2 span {
  font-size: 0.866rem;
  background-color: #efebeb;
  border-bottom-left-radius: 5px;
  color: #7c7676;
}

.messages {
  padding: 0.8rem;
  max-height: 500px;
  overflow-y: scroll;
}

.message-incoming {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.message-incoming .message {
  max-width: 350px;
  border-radius: 10px;
  padding: 1.1rem;
  margin-bottom: 10px;
  background: #ecf2fa;
}

.message-incoming span,
.message-outgoing span {
  color: #c4c4c4;
}

.message-outgoing {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.message-outgoing .message {
  max-width: 350px;
  border-radius: 10px;
  padding: 1.1rem;
  margin-bottom: 10px;
  background: #fcf2f7;
}

.delivered i {
  color: #ffbb00;
}

.text-area {
  width: 80%;
  font-size: 1rem;
  border: 1px solid #ffbb00;
  border-radius: 10px;
  margin: 40px auto;
}

.text-area input {
  width: 100%;
  padding: 2rem;
  border: none;
  border-radius: 10px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  padding-bottom: 1rem;
  background: #f9f8f8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.controls span {
  padding: 1rem;
  font-size: 1.3rem;
}

.controls button {
  background-color: #ffbb00;
  color: #fff;
  border: none;
  padding: 0.3rem 1.6rem;
  border-radius: 10px;
  font-size: 1.3rem;
}

.close-chat {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #c4c4c4;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  flex-direction: column;
  top: 30px;
  right: 40px;
  background: #fff;
}

.close-chat button {
  margin-bottom: 30px;
}

.contact-info {
  position: absolute;
  width: 400px;
  height: 250px;
  border: 1px solid #c4c4c4;
  display: none;
  flex-direction: column;
  top: 20px;
  right: 190px;
  background: #fff;
  border-radius: 7px;
}

.contact-header {
  width: 100%;
  background: #6b6565;
  text-align: center;
  color: #fff;
  padding: 0.7rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.contact-header i {
  color: #ffbb00;
  margin-right: 0.8rem;
}

.addresses div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: 10px;
}

.addresses button {
  color: #efefef;
  width: 50%;
}

.pad-down {
  padding: 5rem;
}

.dark-bg {
  background: #18181a;
}

.footer-img {
  width: 450px;
  height: 200px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.footer-links .list-column {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
}

.footer-links .list-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.footer-links h4 {
  color: #fff;
}

.footer-links li {
  padding: 0.4rem;
}

.footer-links li a {
  color: #c1bdb4;
}

.divider {
  background: #000;
  padding: 0.05rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.divider span {
  background: #fff;
  padding: 0.1rem 6rem;
}

.footer {
  width: 100%;
}

/* 909090 */
/* 3B3B3B */
/* ECF2FA */

/* 5B5B5B */

/* CBCBCB */



/* Employer Edit Page */

.cover-image {
  position: relative;
}


.custom-h6 {
  color: #575353;
  font-size: 16px;
  font-weight: 800;
  line-height: 23.3px;
}

.faded-color {
  color: #b0aeae;
  font-size: 15px;
  line-height: 21.75px;
  font-weight: 400;
}

.text-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.insta-web {
  background-color: #edf5fa;
  width: 100%;
  padding: 8px;
}

.insta-web input {
  width: 50%;
  display: inline !important;
}

.custombtn {
  color: #ffffff;
  background: #3b3b3b;
  border: none;
  border-radius: 5px;
  padding: 7px 14px;
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 500;
}

.business-about textarea {
  width: 100%;
  height: 140px;
  background-color: #edf5fa;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 5px;
}

.business-location .location {
  background-color: #f5f5f5;
  width: 50%;
}

#map-box {
  width: 100%;
  height: 335.43px;
  background: #f5f5f5;
  margin: 20px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.lacation-input {
  width: 50%;
}

.business-cat-info > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
}

.business-cat-info input {
  width: 50%;
  margin: 10px 0;
}

.visibility-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
}

.upper {
  margin-top: 0;
}

.visibility-row input {
  margin-right: 30px;
  border-radius: 50%;
  padding: 15px;
}

.visibility-row input:checked {
  background-color: #ffbb00;
  color: #ffbb00;
}

/* Livestream section */
.livestream-relative {
  position: relative;
}

.no-livestream {
  padding: 8rem 4rem;
  text-align: center;
}

.livestream-header {
  width: 100%;
  margin-top: 3rem;
}

.livestream-section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.livestream-section1 div a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #797878;
  font-size: 16px;
}

.livestream-section1 div a i {
  color: #5b5b5b;
}

.livestream-section1 .custom-active {
  color: #ffbb00;
}

.livestream-section1 div a:hover,
.livestream-section1 .custom-hover {
  border-bottom: 2px solid #ffbb00;
}

.livestream-section1 div a span {
  font-size: 18px;
}

.livestream-section1 div a:hover span {
  font-weight: bolder;
}

.livestream-section1 .custom-bold {
  font-weight: bolder;
}

.livestream-header .custom-color {
  color: #ffbb00;
}

.livestream-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.livestream-create button {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: #ffbb00;
  font-weight: 1000;
  padding: 7px 5px;
}

.livestream-create span i {
  font-size: 18px;
}

.livestream-body {
  width: 100%;
  padding-top: 2rem;
}

.width-100 {
  width: 100%;
}

.livestream-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.livestream-user-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1.7rem;
  margin-bottom: 0.5rem;
}

.livestream-user-btn {
  color: #4b4747;
  font-weight: 900;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.livestream-user-counts {
  padding: 0.8rem 0;
}

.livestream-user-counts .flex-horizontal i {
  color: #ffbb00;
  margin-right: 0.5rem;
}

.livestream-user-counts .badge {
  color: #fff;
  background-color: #5b5b5b;
  border-radius: 50%;
}

.livestream-user-counts .flex-horizontal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
}

.more-past-stream {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-past-stream a {
  color: #c0941f;
  background-color: #4b4747;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.livestream-more-section {
  margin: 1.8rem 0;
  height: 200px;
}

.livestream-more-section .more-video {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px
}

.more-player-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 0.5rem;
  width: 100%;
  color: #fff;
  font-size: 14px;
}

.more-player-wrapper .live-red {
  background-color: red;
  color: #fff;
  padding: 2px;
  font-weight: bold;
}

.more-player-wrapper i {
  margin-right: 5px;
}

.livestream-player-section {
  height: 600px;
  position: relative;
  border-radius: 8px;
}

.livestream-next-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 2rem;
  z-index: 1000;
}

.livestream-next-prev .player-wrapper-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.livestream-next-prev .previous-stream {
  color: #fff;
  margin-left: -60px;
  background-color: #575353;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 5px;
}

.livestream-next-prev .next-stream {
  color: #fff;
  margin-right: -10px;
  background-color: #575353;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 5px;
}

.livestream-player-section video {
  border-radius: 12px;
  width: 100%;
}

.livestream-player-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid red;
  padding: 0.5rem;
  z-index: 1000;
}

.livestream-player-actions .player-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
  color: #fff;
  font-size: 15px;
}

.livestream-player-actions .player-wrapper i {
  margin-right: 3px;
}

.livestream-player-actions .live-red,
.livestream-search-result .search-results-stats .live-red {
  background-color: red;
  color: #fff;
  padding: 2px;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 1.5px;
}

.livestream-player-section #ellipse-popup {
  width: 150px;
  height: 110px;
  position: absolute;
  bottom: 50px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.livestream-player-section #ellipse-popup span {
  color: #5b5b5b;
  padding: 2px 10px;
  width: 100%;
  cursor: pointer;
}

.livestream-player-section #ellipse-popup span:hover {
  color: #fff;
  background-color: #5b5b5b;
}

.livestream-player-section .return-button-left {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 50px;
  left: -30px;
}


.livestream-player-section .return-button-right {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 50px;
  right: -30px;
}

.livestream-player-section .return-button-left button,
.livestream-player-section .return-button-right button {
  font-size: 12px;
  color: #fff;
  background-color: #5d5d5d;
  letter-spacing: 1px;
  padding: 5px;
  border: none;
}


.livestream-poster {
  padding: 1.5rem;
}

.livestream-poster .poster-title {
  padding-left: 1rem;
}

.livestream-poster h4 {
  font-size: 16px;
  font-weight: bold;
  color: #575353;
  line-height: 27px;
  margin: 0;
  margin-bottom: 3px;
}

.livestream-poster span {
  font-size: 14px;
}

.livestream-poster p {
  font-size: 14px;
  line-height: 1;
  background-color: #edf5fa;
  padding: 10px 1rem;
  margin-top: 5px;
  font-weight: 400;
  line-height: 25.2px;
}

.livestream-poster .stretch-less {
  width: 70%;
}

.livestream-message-area {
  border-radius: 8px;
  border: 1px solid #d7d5d5;
  background: #fff;
}

.livestream-message-area .livestream-message-inbox {
  padding: 1rem 1rem;
  max-height: 480px;
  overflow-y: scroll;
}

.livestream-message-inbox .livestream-userprofile,
.livestream-search-result .livestream-userprofile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.livestream-message-inbox .livestream-userprofile,
.livestream-message-inbox .livestream-user-message {
  margin: 0;
  padding: 0;
}

.livestream-message-inbox .livestream-userprofile-img,
.livestream-search-result .livestream-userprofile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.livestream-message-inbox .livestream-userprofile span,
.livestream-search-result .livestream-userprofile span {
  margin-right: 0.5rem;
}

.livestream-message-inbox .livestream-userprofile .user-at,
.livestream-search-result .livestream-userprofile .user-at {
  font-size: 10px;
}

.livestream-message-inbox .livestream-userprofile .user-at-font,
.livestream-search-result .livestream-userprofile .user-at-font {
  font-size: 12px;
  color: #3b3b3b;
  font-weight: bolder;
}

.livestream-message-inbox .livestream-userprofile .user-at-fade,
.livestream-search-result .livestream-userprofile .user-at-fade {
  color: #a8a8a8;
}

.livestream-message-inbox .livestream-user-message {
  padding-left: 1.2rem;
}

.livestream-message-inbox .livestream-user-message p {
  color: #101010;
  font-size: 12.99px;
  font-weight: 550;
}

.livestream-message-inbox .livestream-user-message .message-p {
  margin-top: -5px;
  padding: 0.3rem 0.5rem;
}

.livestream-message-inbox .livestream-user-message .message-gray {
  margin-top: -5px;
  background-color: #f5f5f5;
  padding: 0.3rem 0.5rem;
}

.livestream-message-area .livestream-text-area {
  background-color: #ededed;
  padding: 1rem;
}

.livestream-message-area .livestream-text-input {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
}

.livestream-message-area .custom-input-live {
  border: none;
  width: 90%;
  padding: 0.8rem;
  border-top-left-radius: 10px;
}
.livestream-message-area .custom-input-live:focus {
  outline-style: none;
}

.livestream-message-area .livestream-text-input span i {
  padding: 1rem;
}

.livestream-message-area .livestream-text-input .livestream-send {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.span-smaller {
  font-size: 12px;
}

.livestream-search-result .result-header {
  color: #575353;
  font-size: 18px;
  font-weight: 600;
}

.livestream-search-result .card-player {
  width: 100%;
  height: 180px;
}

.livestream-search-result .search-videos {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.livestream-search-result .search-results-stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.livestream-search-result .search-results-stats span {
  margin-right: 1.5rem;
}

.livestream-search-result .search-results-stats .live-red {
  font-size: 11px;
}

.livestream-search-result .search-results-stats span i {
  margin-right: 5px;
}

.livestream-search-result .search-result-info h4{
  font-size: 16px;
  font-weight: 600;
  color: #575353;
}

.livestream-search-result .search-result-info p {
  font-size: 12.9px;
  color: #101010;
}

.livestream-search-result .search-results-stats .stream-ended {
  font-size: 10px
}

.livestream-search-result .search-results-stats .stream-ended .time {
  background-color: #969393;
  color: #fff;
  padding: 2px;
  border-radius: 2px;
  margin-right: 2px;
  font-family: Roboto sans-serif;
  font-size: 12px;
}

.register-popup {
  position: absolute;
  top: 100px;
  left: 300px;
  width: 500px;
  height: 400px;
  background-color: #3b3b3b;
  color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  z-index: 1001;
}

.register-popup .btn-x {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.register-popup .btn-x span {
  background-color: #ffbb00;
  padding: 10px 17px;
  color: #3b3b3b;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

.register-popup .register-msg {
  padding: 10px;
}

.register-popup ul {
  list-style: none;
}

.register-popup ul li {
  padding: 0.2rem .7rem;
  font-size: 1rem;
  font-weight: 500;
}

.register-popup .register-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.register-popup .register-links a {
  padding: .4rem .6rem;
  margin-top: 1rem;
  font-size: 15px;
  background-color: #fff;
  color: #3b3b3b;
  width: 70%;
  font-weight: 600;
}

/* when livestream when user is logged in */
.livestream-navigator {
  padding: 2rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #5b5b5b;
}

.livestream-navigator .wantsto,
.livestream-navigator .agreeto  {
  font-size: 20px;
  font-weight: 600;
}

.livestream-navigator .stream-access {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.livestream-navigator .stream-access .use-mic,
.livestream-navigator .stream-access .use-cam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.livestream-navigator .stream-access .use-mic button,
.livestream-navigator .stream-access .use-cam button,
.livestream-navigator .actions button{
  border: none;
  padding: .5rem 2rem;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: #e5e5e5;
  font-weight: 600;
  color: #5b5b5b;
}

.livestream-navigator .stream-access .use-mic i,
.livestream-navigator .stream-access .use-cam i {
  margin-top: .8rem;
  font-size: 2rem;
}

.livestream-navigator .warning p {
  padding: 1rem;
  margin-top: 10px;
}

.livestream-navigator .actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bg-cyan {
  background: #EDF5FA;
  width: 100%;
}

.livestream-setup .intro {
  padding: 1rem 3rem;
  color: #5B5B5B;
  font-size: 17px;
  font-weight: 600;
}

.livestream-setup .stream-to-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.livestream-setup .stream-to-row .helper-text h4,
.livestream-setup .description h5{
  font-size: 15px;
  color: #5B5B5B;
  font-weight: 600;
}

.livestream-setup .stream-to-row .helper-text p,
.livestream-setup .description p {
  font-size: 10px;
  color: #969393;
}

.livestream-setup .description {
  padding-left: 2rem;
}

.livestream-setup .description p {
  margin: 0;
  font-size: 11px;
}

.livestream-setup .description input, 
.livestream-setup .description textarea{
  background-color: #EDF5FA;
  font-size: 14px;
}

.livestream-setup .description .bg-gray{
  background-color: #fafafa !important;
}

.livestream-setup .description span {
  float: right;
}

.livestream-setup .description textarea {
  height: 99.83px;
}

.livestream-setup .user-video-img {
  width: 100%;
  height: 540px;
  object-fit: cover;
}

.livestream-setup .start-livestream {
  background: #F61414;
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  width: 40%;
  margin-top: 10px;
  font-weight: 700;
}

.livestream-setup .start-livestream:focus {
  outline: none;
}

.livestream-setup .video-wrapper {
  position: relative;
}

.livestream-setup .video-wrapper span {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #F61414;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}

.livestream-setup .user-live {
  position: relative;
}

.livestream-setup .end-livestream {
  position: absolute;
  top: 100px;
  left: 400px;
  width: 400px;
  height: 200px;
  background-color: #fff;
  border: .5px solid #5b5b5b;
  border-radius: 5px;
}

.livestream-setup .end-livestream .title{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
  color: #5B5B5B;
}

.livestream-setup .end-livestream .warning {
  padding: 1.5rem 15px;
  font-size: 14px;
  color: #5b5b5b;
  text-align: center;
}

.livestream-setup .end-livestream .actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.livestream-setup .end-livestream .actions button {
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #5B5B5B;
  padding: 5px 10px;
  background-color: #e5e5e5;
}

.livestream-setup .end-livestream .actions button:focus {
  outline-style: none;
}





























@media (max-width: 900px) {
  .info-btn button {
    font-size: 0.4rem;
    padding: 0.4rem;
  }
  .register-popup {
    top: 100px;
    left: 120px;
    padding: .2rem;
  }
  .livestream-setup .end-livestream {
    top: 100px;
    left: 240px;
  }
}

@media (max-width: 538px) {
  .navbar-area {
    padding: 0.2rem;
  }
  .navbar-area .logo img {
    width: 100px;
  }
  .navbar-area .nav-list {
    display: none;
  }
  .navbar-area .nav-list a {
    color: #000;
    padding: 0.5rem;
    margin: 0.1rem;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
  .sidebar {
    display: none;
  }
  .livestream-setup .end-livestream {
    top: 680px;
    left: 30px;
  }
}

@media (max-width: 480px) {
  .navbar-area .nav-list {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .footer-img {
    width: 10rem;
    height: 10rem;
  }
  .footer-links {
    flex-wrap: wrap;
  }
  .footer-links > div {
    padding: 1rem 0;
  }
  .footer-links ul li {
    margin: 0;
  }
  .info-btn button {
    font-size: 0.09rem;
    padding: 0.2rem;
  }
  video {
    object-fit: cover;
  }
  .livestream-player-section {
    margin-top: 140px;
  }
  .livestream-next-prev .next-stream {
    margin-right: 0;
  }
  .livestream-next-prev .previous-stream {
    margin-left: 0;
  }
  .register-popup {
    top: 1400px;
    left: 20px;
    width: 250px;
    height: 210px;
    padding: .2rem;
  }
  .register-popup .btn-x span {
    padding: 5px 8px;
    font-size: 10px;
    font-weight: bolder;
  }
  .register-popup .register-msg {
    padding: 2px;
    font-size: 10px;
  }
  .register-popup ul li {
    margin: 0;
    padding: 0 2px;
    font-size: 9px;
  }
  .register-popup .register-links {
    padding: 0;
  }
  .register-popup .register-links a {
    padding: 0;
    margin-top: 8px;
    font-size: 10px;
    width: 70%;
    font-weight: 600;
  }
  #padd-5x {
    padding: 0 !important;
  }
  .livestream-setup .end-livestream {
    top: 680px;
    left: 20px;
    width: 350px;
  }
}